<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alunos</title>
</head>
<body>
    <h1>Lista de alunos</h1>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.disciplina}"></td>
                <td th:text="${aluno.nome}" ></td>
            </tr>
        </tbody>
    </table>

</body>
</html>